.cartcontainer{
	position:fixed;
	margin:auto;
	display:none;
	width:80%;
	text-align:center;
	background-color:white;
	z-index: 99;
}
.viewCart{
	width:80%;
	margin:0 auto;
	
}
.shoppingcart{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
	width:80%;
	margin:0 auto;
	background-color:white;

}
.cartImages{
	height:75px;
	width:75px;
}
.buttonscart{
	display:flex;
	flex-direction:column;

}


.productManufaturer{
	color:grey;

}
.productPrice{
	color:green;

}
#checkout{
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
}
.checkout{
	background-color:green;
	color:white;
	font-size:0.50rem;
	width:100px;
	height:40px;
	border:1px solid green;
}
.remove{
	-webkit-appearance: none;
	background-color:white;
	border: 1px solid green;
	font-size:0.50rem;
	width:100px;
	height:20px;

}
.update{
	-webkit-appearance: none;
	background-color:white;
	border: 1px solid green;
	font-size:0.50rem;
	width:100px;
	height:20px;

}