/****************/
/*WIDTH SETTINGS*/
/****************/
.width-10{
	width: 10%
}
.width-25{
	width: 25%;	
}
.width-100 {
	width: 100%;
}
/******************/
/*PADDING SETTINGS*/
/*****************/
.top-padding{
	padding-top: 6vh;
}
.bottom-padding{
	padding-bottom: 3vh;
}
.address-padding{
	padding-bottom: 2vh;
}
/*****************/
/*MARGIN SETTINGS*/
/*****************/
.top{
	margin-top:10px;
}
.bottom-margin-large{
	margin-bottom: 5vh;
}
.margin-20{
	margin: 5vh;
}
.marginxs{
	margin:2vh;
}