
$thing: "green";



@function check_color($color){
	@if($color == "green"){
		@return green , font-size:40px;
	}
	@else{@return blue , font-size:60px;
}

}

h1 {
	color: check_color("red");
}

h2 {
	color: check_color($thing);
}


















